<div class="navigation-wrapper">
	<div class="site-name">
		<!-- <a href="{{ site.url }}/">{{ site.title }}</a> -->

		<a href="{{ site.url }}/">
			<img alt="{{ site.title }}" src="{{ site.url }}/images/beta-logo-180-transparent.png" style="max-width:100%;">
		</a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
				    {% if link.url contains '//' %}
				        {% assign domain = '' %}
				        {% else %}
				        {% assign domain = site.url %}
				    {% endif %}
						{% comment %} {% if link.url contains '//' %}target="_blank"{% endif %} {% endcomment %}
				    <li><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->
