<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
    <h1>{{ page.title }}</h1>
    {{ content }}
    {% assign conferences_grouped = site.conferences | group_by: 'year' | sort: 'name' | reverse %}
    {% for group in conferences_grouped %}
      <h3>{{ group.items.first.year }}</h3>
      {% assign group_sorted = group.items | sort: 'begin' | reverse %}
      {% for conference in group_sorted %}
        {% assign partner = site.partners | where: 'slug', conference.partner-slug  | first %}
        <article>
          {% if conference.link %}
            <h2 class="link-post"><a href="{{ site.url }}{{ conference.url }}" title="{{ conference.title }}">{{ conference.title }}</a> <a href="{{ conference.link }}" target="_blank" title="{{ conference.title }}"><i class="fa fa-link"></i></a></h2>
          {% else %}
            <h2><a href="{{ site.url }}{{ conference.url }}" title="{{ conference.title }}">{{ conference.title }}{% if conference.begin %} ({{ conference.begin | date_to_string }}){% endif %}</a></h2>
            <p>{% if partner %}<em>by <a href="{{ site.url }}{{ partner.url }}">{{ partner.title }}</a></em><br/>{% endif %}{{ conference.excerpt | strip_html | truncate: 160 }}</p>
          {% endif %}
        </article>
      {% endfor %}
    {% endfor %}
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
