<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="page">
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}
      
      <table>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Description</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td><strong>Conference Name</strong>
                  </td>
                  <td>{{ page.title }}</td>
              </tr>
              {% if page.partner-slug %}              
              {% assign partner = site.partners | where: 'slug', page.partner-slug  | first %}
              <tr>
                  <td><strong>Hosting Organisation</strong>
                  </td>
                  <td><a href="{{ site.url }}{{partner.url}}">{{ partner.title }}</a></td>
              </tr>
              {% endif %}
              <tr>
                  <td><strong>Mail</strong>
                  </td>
                  <td><a href="mailto:{{ page.mail }}">{{ page.mail }}</a></td>
              </tr>
              <tr>
                  <td><strong>Website</strong>
                  </td>
                  <td><a href="{{page.website}}">{{page.website}}</a></td>
              </tr>
              {% if page.begin %}
              <tr>
                  <td><strong>Date</strong>
                  </td>
                  <td>{{ page.begin | date_to_string }} - {{ page.end | date_to_string }}</td>
              </tr>
              {% endif %}
              <tr>
                  <td><strong>Participant Number</strong>
                  </td>
                  <td>{{ page.participants }}</td>
              </tr>
              <tr>
                  <td><strong>Location</strong>
                  </td>
                  <td>{{ page.country }}, {{ page.town }}{% if page.location %}, {{ page.location }}{% endif %}</td>
              </tr>
          </tbody>
      </table>
      
      <div id="mapid" style="height: 220px"></div>
      
      {% if page.share != false %}
        <hr />
        {% include _social-share.html %}
      {% endif %}
      {% if page.source != false %}
        <hr />        
        {% include _edit_github.html %}
      {% endif %}
    </div><!-- /.article-wrap -->
    {% if site.owner.disqus-shortname and page.comments == true %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
    {% if site.owner.discourse-url and page.comments == true %}
      <section id="discourse-comments"></section><!-- /#discourse_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script type="text/javascript">
  var mymap = L.map('mapid').setView([{{ page.geo }}], 4);
  // Esri_WorldStreetMap
  L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
  }).addTo(mymap);
  marker = L.marker([{{ page.geo }}]);
  marker.addTo(mymap)
  marker.bindPopup("<b>{{ page.title }}</b>").openPopup();
</script>

</body>
</html>
